language: ruby
osx_image: xcode10
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
  - WORKSPACE=Example/SundeedQLiteExample/SundeedQLiteExample.xcworkspace
  - PROJECT=SundeedQLiteLibrary.xcodeproj
  - IOS_FRAMEWORK_SCHEME="SundeedQLiteLibrary"
  - EXAMPLE_SCHEME="SundeedQLiteExample"
matrix:
    - DESTINATION="OS=11.4,name=iPhone X" SCHEME="$IOS_FRAMEWORK_SCHEME" RUN_TESTS="YES" BUILD_EXAMPLE="YES" BUILD_LIBRARY="YES"
jobs:
  include:
    - stage: Initialize
      script:
        - set -o pipefail
    - stage: Initialize
      script:
        - xcodebuild -version
    - stage: Initialize
      script:
        - xcodebuild -showsdks

    - stage: Test
      script:
        - if [ $RUN_TESTS == "YES" ]; then
                xcodebuild -project "$PROJECT" -scheme "$SCHEME" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO ENABLE_TESTABILITY=YES test | xcpretty;
          fi
      after_success:
        - sleep 5

    - stage: Build Library
      script:
          - if [ $BUILD_LIBRARY == "YES" ]; then
                xcodebuild -project "$PROJECT" -scheme "$SCHEME" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO build | xcpretty;
            fi

    - stage: Build Example
      script:
          - if [ $BUILD_EXAMPLE == "YES" ]; then
                      xcodebuild -workspace "$WORKSPACE" -scheme "$EXAMPLE_SCHEME" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO build | xcpretty;
            fi

